@import 'variables';

html,
body {
    padding: 0;
    margin: 1rem auto;
    max-width: 1080px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: $primary-color;
        background: $background-color;
    }
}
